<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Checkout</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="public/css/style.css">
    </head>
    <body>
      <div class="row">
    <div class="col-md-12">
      <form id="checkoutForm">
        <h1> Product Checkout </h1>
        <h3> 
          Item: <%= product_name %> 
          <br>
          <span class="price"> Price: <%= price %> </span>
         </h3>
        
        <fieldset>
        
          <label for="name">Full Name:</label>
          <input type="text" required id="u_full_name" name="user_full_name">
        
          <label for="email">Email:</label>
          <input type="email" required id="user_email" name="user_email">
       
          <label for="name">Full Address:</label>
          <textarea id="user_full_address" required name="user_full_address"></textarea>
          
        </fieldset>
       
        <button type="submit" id="notloading">Checkout</button>
        <button type="button" style="display: none;" id="loading">Loading......</button>
        
       </form>
      </div>
      </div>
      
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="public/js/ajax-script.js"></script>
</html>
